<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="AlbumGallery"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AlbumGallery"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="AlbumGallery"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.MainFragmentController"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".view.activity.Auth"/>
        <activity android:name=".view.activity.EditImageActivity" />
        <activity android:name=".view.activity.DetailPicture" />
        <activity android:name=".presentations.bin.DetailDeletedPicture" />
        <activity android:name=".view.activity.RegisterScreen" />
        <activity android:name=".view.activity.CreateAlbumActivity" />
        <activity android:name=".view.activity.SelectImageActivity" />
        <activity android:name=".view.activity.CropImageActivity" />
        <activity android:name=".view.activity.AlbumContentActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".view.activity.PasswordAlbumActivity" />
        <activity android:name=".presentations.user.UserActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.file-provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <!-- we intend to request content
                  URIs for the images/subdirectory
                  of your private file area -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>
    </application>
</manifest>